venv
.idea/workspace.xml
.idea/BouncyDungeon.iml
.idea/misc.xml
.idea/workspace.xml
__pycache__/LoadMap.cpython-38.pyc
__pycache__/testmap.cpython-38.pyc
.idea/BouncyDungeon.iml
.idea/misc.xml
.idea/workspace.xml
*.pyc
.idea/BouncyDungeon.iml
.idea/misc.xml
__pycache__/LoadMap.cpython-38.pyc
__pycache__/testmap.cpython-38.pyc
game/data/obj/__pycache__/Ball.cpython-38.pyc
game/data/obj/__pycache__/Blink_block.cpython-38.pyc
game/data/obj/__pycache__/Fakewall.cpython-38.pyc
game/data/obj/__pycache__/iccle.cpython-38.pyc
game/data/obj/__pycache__/Laser.cpython-38.pyc
game/data/obj/__pycache__/potal.cpython-38.pyc
game/data/obj/__pycache__/Wall.cpython-38.pyc
game/data/rank.txt
game/data/rank.txt
game/data/obj/__pycache__/Wall.cpython-38.pyc
game/data/obj/__pycache__/potal.cpython-38.pyc
game/data/obj/__pycache__/Laser.cpython-38.pyc
game/data/obj/__pycache__/iccle.cpython-38.pyc
game/data/obj/__pycache__/Fakewall.cpython-38.pyc
game/data/obj/__pycache__/Blink_block.cpython-38.pyc
game/data/obj/__pycache__/Ball.cpython-38.pyc
__pycache__/testmap.cpython-38.pyc
__pycache__/LoadMap.cpython-38.pyc
.idea/misc.xml
.idea/BouncyDungeon.iml
